/* Stylesheet for the header */

header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding-top: 120px;
}

#main-header {
  color: #FFFFFF;
  background-color: #4056A1;
}

/* Responsive design for screens 1024px and up */

@media only screen and (min-width:1024px) {
  #main-header {
    padding-right: 5%;
    width: 30%;
    background-color: #f4f1ec;
    color: #545149;
    align-self: flex-start;
  }
}